body {
    background-color: rgba(0, 0, 0, 0.3);
    color: #000000;
}

.info {
    color: #4682B4;
    background-color: rgba(70, 130, 180, 0.3);
}

.warnung {
    color: #8B0000;
    background-color: rgba(139, 0, 0, 0.3);
}

.erfolg {
    color: #006400;
    background-color: rgba(0, 100, 0, 0.3);
}

.dunkel {
    background-color: hsl(220, 50%, 20%);
    color: #FFFFFF;
}